caption{
	text-align: center;
	font-size: 1.2em;
}
table{
	empty-cells: hide;
}
td{
	
	padding: 0px;
	border: 1px solid black;
}
th {
	width: 10px;
	color: white;
	border: 1px solid black;
	background-color: darkblue;
	text-align: center;
}
.first{
	background-color: #0BFF;
	color: white;
}
.second{
	background-color: purple;
	color: white;
}
.third{
	background-color: green;
	color: white;
}