$first_color: #264653;
$second_color: #2a9d8f;
$third_color: #e9c46a;
$fourth_color: #f4a261;
$fifth_color: #e76f51;

.first_house {
  fill: $first_color;
}

.second_house {
  fill: $second_color;
}

.third_house {
  fill: $third_color;
}

.fourth_house {
  fill: $fourth_color;
}

.fifth_house {
  fill: $fifth_color;
}