.first_house {
    fill: #264653;
}

.second_house {
    fill: #2a9d8f;
}

.third_house {
    fill: #e9c46a;
}

.fourth_house {
    fill: #f4a261;
}

.fifth_house {
    fill: #e76f51;
}